body {
  background-color: #f4f8fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 100%;
}

.header-logo {
  margin-top: 10px;
  margin-left: 99px;
  margin-bottom: 10px;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  margin-bottom: 24px;
}

.header-ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 99px;
}

.header-a-1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.5s linear;
}

.header-a-1:hover {
  color: #01bab3;
}

.header-a-2 {
  border: 1px solid #d9d9d9;
  padding: 2px 8px;
  border-radius: 3px;
  transition: all 0.5s linear;
}

.header-a-2:hover {
  color: white;
  background-color: #01bab3;
}

.container__card {
  margin-left: 400px;
  border-radius: 10px;
  width: 750px;
  height: 810px;
  background-color: white;
  margin-bottom: 64px;
}

.card-img-1 {
  margin-top: 40px;
  margin-bottom: 24px;
  margin-left: 320px;
}

.card-h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 39px;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
}

.login-text {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.card-p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444150;
}

.card-a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #01bab3;
  border-bottom: 2px solid #01bab3;
}

.email-text {
  margin-top: 40px;
}

.email-label {
  margin-left: 45px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
}

.email-input {
  margin-left: 45px;
  padding: 10px 448px 14px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  opacity: 0.5;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
}

.phone-text {
  margin-top: 24px;
}

.phone-label {
  margin-left: 45px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
}

.phone-input {
  margin-left: 45px;
  padding: 10px 448px 14px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  opacity: 0.5;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
}

.country-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.c-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
}

select {
  padding: 10px 230px 14px 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  outline: none;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.c2-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
}

.i2-text {
  padding: 10px 110px 14px 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  opacity: 0.5;
  outline: none;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.password-text {
  margin-top: 24px;
}

.password-label {
  margin-left: 45px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
}

.password-input {
  margin-left: 45px;
  padding: 10px 448px 14px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  opacity: 0.5;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
}

.password-text-2 {
  margin-top: 24px;
}

.password-label-2 {
  margin-left: 45px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
}

.password-input-2 {
  margin-left: 45px;
  padding: 10px 448px 14px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  opacity: 0.5;
  background: #ffffff;
  border: 1px solid #fb3838;
  border-radius: 6px;
  outline: none;
}

.button {
  text-align: center;
}

.card-button {
  margin-top: 30px;
  padding: 12px 295px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #01bab3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.5s linear;
}

.card-button:hover {
  color: #01bab3;
  background-color: lightgray;
}

.footer-p {
  margin-bottom: 30px;
  margin-left: 534px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #778699;
}

.register-a {
    color: white;
}